.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.wrapper {
  width: 400px;
  margin: 0 auto;
}
.filters {
  display: flex;
}
.filters div {
  border: 1px solid grey;
  margin-right: 10px;
  cursor: pointer;
}
.list {
  border: 1px solid black;
  margin-top: 10px;
}
.list-item {
  display: flex;
  position: relative;
}
.list-item__state {
  margin: 0 10px;
}
.list-item__action {
  position: absolute;
  right: 0;
}

body {
  font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", sans-serif;
}

.todolist__done {
  margin-top: 0.5rem;
}

.todolist__content {
  font-size: 19px;
  padding-right: 150px;
}

.todolist__edit {
  position: absolute;
  right: 65px;
  top: 0;
  display: inline-block;
}

.todolist__delete {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
}

.editing__background {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=88);
}

.editing__area {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 55%;
  padding: 20px;
  border: 10px solid aquamarine;
  border-radius: 10px;
  background-color: white;
  z-index: 1002;
  overflow: auto;
}

.editing__cancel {
  margin-top: 20px;
}
